# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
venv_v2/
venv_ollama

# OS files
.DS_Store
Thumbs.db

#files
enhancer copy 1.py
model_loader.py
main copy 1.py
enhancer copy.py
app copy.py